# Configuración de la API REST
PORT=3001
JWT_SECRET="tu_clave_secreta_jwt_aqui"

# Conexión a PostgreSQL en Supabase
# Ejemplo con Connection Pooler (Transacción / Puerto 6543):
# DATABASE_URL="postgresql://postgres.[TU_PROYECTO_REF]:[TU_CONTRASEÑA]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Ejemplo con Conexión Directa (Puerto 5432):
DATABASE_URL="postgresql://postgres:[TU_CONTRASEÑA]@db.[TU_PROYECTO_REF].supabase.co:5432/postgres"

# Clave inicial para creación de usuario administrador (opcional)
ADMIN_INITIAL_KEY="ADMIN1234"
