# Ignorar dependencias
node_modules/

# Ignorar compilación generada
dist/

# Ignorar archivos de entorno
.env
.env.*
!.env.example

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos locales del editor
.vscode/
.idea/

# Ignorar lock si no querés subirlo
package-lock.json
